/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}body{
	font-family: 'Poppins', sans-serif;
	background: url(/ecommerce/images/what-the-hex-dark.png) repeat 0 0;
	/*font-family: 'Old Standard TT', serif;*/
	/*font-family: 'Cormorant Garamond', serif;*/

}

.main_wrapper{
	width: 1000px;
	height: auto;
	margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
}

.header_wrapper{
	width: 1000px;
	height: 300px;
	margin: auto;	
}

#logo{
	margin: 
}

#banner{
}

.menubar{
	width: 1000px;
	height: 50px;
	color: black;
	background-image: linear-gradient(white,darkgrey);
}

#menu{
	padding: 0;
	margin: 0;
	line-height: 40px;
	float: left;
}

#menu li{
	list-style: none;
	display: inline;
}

#menu a {
	text-decoration: none;
	color: black;
	padding: 1px;
	margin: 5px;
	font-size: 18px;
}

#menu a:hover {
	color: orange;
	font-weight: bolder;
}

#form{
	float: right;
	line-height: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}



.content_wrapper{
	width: 1000px;
	margin: auto;
	background: gainsboro;
}


#content_area{
	background-color: gainsboro;
	width: 800px;
	float: right;
	height: 100%;

}

#sidebar{
	width: 200px;
	height: auto;
	
	background-color: white;
	float: left;
	border-radius: 20px;

	
}

#sidebar_title{
	background-color: gainsboro;
	background-image: linear-gradient(-90deg, lightgrey, grey);
	color: black;
	font-size: 22px;
	padding: 20px;
	padding-left: 40px;
	text-align: center;
	text-decoration: none;
	border-radius: 40px;
}

#sidebar_style{
	text-align: center;
	background-color: white;
}

#sidebar_style li{
	list-style: none;
	padding: 5px; 
	margin: 5px;
	text-decoration: none;
}

#sidebar_style a{
	color: black;
	font-size: 20px;
	text-decoration: none;
}

#sidebar_style a:hover{
	color: yellow;
	font-weight: bolder; 
	text-decoration: none;

}

#product_box{
	width: 780px;
	text-align:center;
	margin-left: 30px;
	margin-bottom: 10px;
	align-items:inherit;
}

#single_product{
	float: left;
	margin-left: 40px;
	padding: 10px;	
}

#single_product img{
	border: 2px solid black;
	border-radius: 20px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#shopping_cart {
	width: 1000px;
	height: 50px;
	background: darkgray;
	color: white;
	float: right;

	/*border-radius: 25px;*/
}

#footer{
	width: 1000px;
	height: 100px;
	background: grey;
	clear: both;

}

.button{
	background-color: #555555;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 1px;
    cursor: pointer;
}

.button-detail{
	background-color:  #555555;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/**

from above #form
border-radius: 40px;
	background: #2f3640;
	width: auto;
	height: 30px;


.search_btn{
	color: #e84118;
	float: right;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;

}

.search_txt{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	padding-left: 5px;
	width: 0px;
}

.form:hover > .search_txt{
	width: 200px;
	padding: 0 6px;
}


background-color: white;
**/